.DraftEditor-root {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    overflow: auto;
    resize: vertical;
    margin-bottom: 1rem;
    height: 150px;
    cursor: text;
}